html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {

--ff-main: 'Manrope', sans-serif;

--fw-bold: 700;
--fw-regular: 500;

--fs-body: 0.8125rem;
--fs-h1-mobile: 1rem;
--fs-h1-desktoop: 1.25rem;

--clr-white: #FFFFFF;
--clr-800: #48556A;
--clr-600: #6E8098;
--clr-400: #9DAEC2;
--clr-200: #ECF2F8;

--padding-mobile: 2rem;

--bs-medium: 0px 40px 40px -10px rgba(201, 213, 225, 0.50);
}

body {
    background-color: var(--clr-200);
    font-family: var(--ff-main);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: var(--fs-body);
    color: var(--clr-600);
}

.container {
    background-color: var(--clr-white);
    width: 20rem;
    border-radius: 0.625rem;
    overflow: hidden;
    box-shadow: var(--bs-medium);
}

.drawers {
    width: 100%;
}

.text-content {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}

main {
    padding: 2rem 2rem 1rem;
}

h1 {
    font-size: var(--fs-h1-mobile);
    line-height: 1.5rem;
    /* letter-spacing: 0.0125rem; */
    color: var(--clr-800);
    font-weight: bold;
    padding-bottom: 0.75rem;
}

h1 + p {
    line-height: 1.25rem;
}

footer {
    padding: 1rem 2rem 
}

.profile-image > img {
    border-radius: 50%;
    width: 2.5rem;
}

.article-attributes {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.share-section {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.share {
    text-transform: uppercase;
    letter-spacing: 0.3125rem;
    color: var(--clr-400);
}

.social-icons {
    fill: var(--clr-white);
    display: flex;
    gap: 0.75rem;
    /* height: 1.25rem; */

}

footer {
    display: grid;
    align-items: center;
    grid-template-columns: 85% 15%;
}

.footer-share {
    background-color: var(--clr-800);
}

#user-name {
    color: var(--clr-800);
    font-weight: var(--fw-bold);
    letter-spacing: 0.00763rem;
    margin-bottom: 0.125rem;
}

.share-button-section {
    justify-self: end;
}

button {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    border: none;
    background-color: var(--clr-200);
}

.button-share {
    background-color: var(--clr-600);
}

.share-icon {
    fill: var(--clr-600);
}

.share-icon-share {
    fill: var(--clr-white);
}



.hidden {
    display: none;
}